
body{ background:#E6E6E6; font-family:Microsoft YaHei;}
.wrap{width:1000px; margin:0 auto; padding-left:4px;}
.banner{height:auto;}
.bgfff{ background:#fff; padding:0 0;}
.lead{ position:relative; background:url(../images/bg01.jpg) #fff no-repeat bottom center; padding:80px 0 20px 0; color:#000;margin-top:5px;}
.lead h3{ position:absolute; left:-8px; top:10px;}
.lead p{ padding:10px; text-align:left; line-height:40px; text-indent:2em; font-size:18px;}
.title02,.title03,.title04,p.more a{ background:#b32400;}
.title02{ height:44px; overflow:hidden;}
.title02 span,.title03 span{background:#fff; padding:2px 5px; margin-left:13px;}
.title02 span{ font-size:32px;color:#000;}
.title03{ margin-top:25px;}
.title03 span,.title04 span{display:block;}
.title03 span{width:638px;color:#706f6f;font-size:30px;/*height:30px;*/line-height:30px; font-weight:normal;}
.title04 span{width:305px;height:38px; line-height:38px; background:#ebebeb; margin-left:9px; padding-left:6px; font-size:22px; font-weight:nomal; margin-top:15px;}
.main_left{float:left;width:660px;}
.main_right{ float:left; width:320px;margin-left:10px; display:inline;}
.imgrt { height:20px; background-color:#F0F0F0; font-size:14px; text-align:center; margin:8px 0; line-height:18px;}
.info01{ margin:20px 20px;}
.font30{ color:#7f7f7f; font-size:30px; font-weight:normal;}
.font30 a{ color:#000;}
.font30 a:hover{ background-color:#C00; color:#FFF; }
.info01 p{ color:#7f7f7f; font-size:14px; line-height:22px; text-align:left; padding-top:10px;}
.info01 a{ color:#000;}
.clear{ clear:both; height:0; overflow:hidden;}
.main_r01{ border-left:9px solid #7fbeff; padding-left:10px; margin-top:5px;}
.bdl02{border-left:9px solid #ffa97f;}
.bdl03{border-left:9px solid #b8b8b8;}
.bdl04{border-left:9px solid #ff7fcd;}
.main_r01 div{ padding-top:25px; height:80px; clear:both;} 
.main_r01 img{ float:left;width:100px; border:1px solid #999; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px}
.main_r01 dl{ float:right;width:180px;}
.main_r01 dl,.main_r01 dl a{ color:#686868;}
.main_r01 dl dt{ font-weight:bold; height:25px; line-height:25px;}
.main_r01 dl dd{ text-align:left; line-height:20px;}
.info02{ background:url(../images/bg03.jpg) no-repeat left top; padding:30px 20px 10px 20px; font-size:14px; line-height:30px; border-bottom:10px solid #a8a8a8;}
.info02 img {margin:5px 0; text-align:center;}
p.more{ height:24px; clear:both; padding:10px 0;}
p.more a{display:block; width:96px; height:24px; line-height:24px; color:#fff; text-align:center; float:right; clear:both; margin-top:10px;}
.hr12{ height:12px;}
.list01 li{ padding-left:12px; background:url(../images/dian.jpg) #f3f3f3 no-repeat 5px center; margin-top:15px; line-height:30px; font-size:16px;}
.list01 li a{ color:#000;}
.list02{ padding-left:25px; background:url(../images/bg04.png) no-repeat left 5px; font-size:14px;}
.list02 li{ height:30px; line-height:30px;}
.comment{width:955px; margin:10px auto; height:auto;}
.footer{ height:88px; margin:10px 0; text-align:center; padding-top:20px;}
.footer p{ margin:0 20px 20px; height:28px; line-height:28px; text-align:center; background:#dfdfdf;}
.footer p a{color:#636363;}
.gimg {margin-top:10px; background-color:#FFF;}
.reveiw { background:url(http://www.51cto.com/images/spec/msg/images/tit01.jpg) left top no-repeat; width:154px;height:72px; margin:0; overflow:hidden;}

#header {width:1000px; min-width:1000px; margin:0 auto;}
/* header */
#header {  background-color:#FFF; margin-bottom:5px;}
#header #logo {position:relative; float:left; display:block; background:url(../images/logo.gif) left top no-repeat; width:130px; height:90px; margin:0px; text-indent:-1000em; overflow:hidden;}
#header #logo a {position:relative; display:block; width:100%; height:100%; line-height:100%;}
#header #gnb {float:right; margin:40px 20px 23px 0px;}
#header #gnb li {position:relative; float:left; background:url(../images/gnb.gif) left top no-repeat; height:28px; margin-left:30px;}
#header #gnb li a {display:block; width:100%; height:100%; line-height:100%;  text-indent:-1000em;}
#header #gnb li.s01 {background-position:0 0; width:70px;}
#header #gnb li.s02 {background-position:-90px 0; width:70px;}
#header #gnb li.s03 {background-position:-179px 0; width:70px;}
#header #gnb li.s04 {background-position:-268px 0; width:70px;}
#header #gnb li.s05 {background-position:-357px 0; width:70px;}
#header #gnb li.s06 {background-position:-447px 0; width:70px;}
#header #gnb li.s07 {background-position:-538px 0; width:90px;}
#header #gnb li.s08 {background-position:-646px 0; width:90px;}
#header #gnb li.s01.on {background-position:0 -28px;}
#header #gnb li.s02.on {background-position:-90px -28px;}
#header #gnb li.s03.on {background-position:-179px -28px;}
#header #gnb li.s04.on {background-position:-268px -28px;}
#header #gnb li.s05.on {background-position:-357px -28px;}
#header #gnb li.s06.on {background-position:-447px -28px;}
#header #gnb li.s07.on {background-position:-538px -28px;}
#header #gnb li.s08.on {background-position:-646px -28px;}